/* Component: bread-crumps */

.bread-crumbs {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 1.875rem 0;
	list-style: none;
}

.bread-crumbs a {
	opacity: 0.5;
	color: inherit;
	text-decoration: none;
}

.bread-crumbs a::after {
	content: "–";
	margin-inline: 0.25em;
	color: initial;
	pointer-events: none;
}

.bread-crumbs a:hover {
	color: var(--clr-primary-2);
}

.bread-crumbs a:active {
	color: var(--clr-primary-3);
}
