/* Component: Site logo */

.site-logo {
	display: inline-block;
	padding: 1.25em;
	border: 1px solid var(--clr-dark-2);
	background-color: var(--clr-dark-2);
	color: var(--clr-white);
	font-family: var(--ff-accent);
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}
