/* Layout: Cases-single-section */

.cases-single-section {
	padding-block: 3.125rem;
}

.cases-single-section__container {
	display: flex;
	flex-direction: column;
	gap: 3.125rem;
}

.cases-single-section__head {
	display: flex;
	gap: 1.25rem;
}

.cases-single-section__heading {
	flex: 1 1 auto;
}

.cases-single-section__gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 0.625rem;
}

.cases-single-section__gallery-item {
	aspect-ratio: 1;
	width: calc(20% - 0.625rem * 3 / 4);
}

.cases-single-section__gallery-item:nth-child(3n + 3) {
	aspect-ratio: 2/1;
	width: calc(40% - 0.625rem * 3 / 4);
}

.cases-single-section__gallery-item > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	pointer-events: none;
}

.cases-single-section__body {
	display: flex;
	flex-direction: row-reverse;
	gap: 1.875rem;
}

.cases-single-section__video {
	width: min(48rem, 50% - 1.875rem);
	height: auto;
}

.cases-single-section__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1.25rem;
}

.cases-single-section__text > *:first-child {
	margin-block-start: 0;
}

@media (width < 79.999em) {
	.cases-single-section {
		padding-block: 1.875rem;
	}

	.cases-single-section__body {
		flex-direction: column;
	}

	.cases-single-section__video {
		width: 100%;
	}
}

@media (width < 63.999em) {
	.cases-single-section__gallery-item {
		aspect-ratio: 1;
		width: calc(25% - 0.625rem * 3 / 4);
	}

	.cases-single-section__gallery-item:nth-child(3n + 3) {
		aspect-ratio: 1/1;
		width: calc(25% - 0.625rem * 3 / 4);
	}
}

@media (width < 47.999em) {
	.cases-single-section__gallery-item,
	.cases-single-section__gallery-item:nth-child(3n + 3) {
		width: calc(33.333% - 0.625rem * 2 / 3);
	}
}

@media (width < 35.999em) {
	.cases-single-section__gallery-item,
	.cases-single-section__gallery-item:nth-child(3n + 3) {
		width: calc(50% - 0.625rem * 1 / 2);
	}
}
