/* Layout: Contacts section */

.contacts-section {
	padding-block: 3.125rem;
}

.contacts-section__container {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.contacts-section__head {
	display: flex;
	gap: 1.25rem;
}

.contacts-section__heading {
	flex: 1 1 auto;
}

.contacts-section__body {
	display: flex;
	gap: 2.5rem;
}

.contacts-section__map {
	flex: 1 1 auto;
	aspect-ratio: 9/6;
	width: auto;
}

.contacts-section__map > iframe {
	width: 100%;
	height: 100%;
}

.contacts-section__info {
	display: flex;
	gap: 1.25rem;
	width: 56rem;
}

.contacts-section__list {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin: 0;
	padding: 0;
	width: calc(33.333% - 1.25rem * 2 / 3);
	list-style: none;
}

.contacts-section__list-item {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.contacts-section__list-item-label {
	margin-block-start: 0;
	opacity: 0.5;
}

.contacts-section__list-item-value {
	margin-block-start: 0;
	color: inherit;
	font-family: var(--ff-accent);
	text-transform: uppercase;
	text-decoration: none;
}

a.contacts-section__list-item-value {
	transition: all var(--transition-sm);
}

a.contacts-section__list-item-value:hover {
	color: var(--clr-primary-2);
}

a.contacts-section__list-item-value:active {
	color: var(--clr-primary-1);
}

.contacts-section__list-item-icons {
	display: flex;
	align-items: center;
	gap: 0.625rem;
}

.contacts-section__list-item-icons > a {
	color: inherit;
	line-height: 0;
}

.contacts-section__list-item-icons > a:hover {
	color: var(--clr-primary-2);
}

.contacts-section__list-item-icons > a:active {
	color: var(--clr-primary-1);
}

.contacts-section__list-item-icon {
	width: 1.5rem;
	height: 1.5rem;
	fill: currentColor;
	transition: all var(--transition-sm);
}

@media (width <= 89.999em) {
	.contacts-section__body {
		flex-direction: column;
	}

	.contacts-section__map {
		flex: 1 1 auto;
		aspect-ratio: auto;
		width: 100%;
		height: 25rem;
	}

	.contacts-section__info {
		width: 100%;
	}
}

@media (width <= 79.999em) {
	.contacts-section {
		padding-block: 1.875rem;
	}
}

@media (width <= 47.999em) {
	.contacts-section__map {
		height: 18.75rem;
	}

	.contacts-section__info {
		flex-direction: column;
	}

	.contacts-section__list {
		width: 100%;
	}
}
