/* Utilities: Wrapper */

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100dvh;
}

.wrapper > header,
.wrapper > footer {
	flex: 0 0 auto;
}

.wrapper > main {
	flex: 1 1 auto;
}
